allow fsck userdata_block_device:blk_file rw_file_perms;
allow fsck cache_block_device:blk_file rw_file_perms;
allow fsck kernel:system module_request;
allow fsck efs_block_device:blk_file rw_file_perms;

# /dev/block/mmcblk0p[0-9] DOES NOT WORK
#allow fsck emmcblk_device:blk_file rw_file_perms;
